<!doctype html>
<html>
<head>
	<title>{{block "title" .}}Charon{{end}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
</head>
<body>
	{{template "header.tmpl" .}}
	<div class="container">
		{{block "body" .}}{{end}}
	</div>
</body>
</html>
